<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" lang=""><head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<link rel="icon" href="<%= BASE_URL %>favicon.ico">
</head>
  <body>
    <noscript>
      <strong>We're sorry but &lt;%= htmlWebpackPlugin.options.title %&gt; doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->


</body></html>
